{% extends "@ShoppingCart/base.html.twig" %}

{% block body %}
    <h1>Access Denied Error 403</h1>

    <h3>The requested resource requires an authentication.</h3>
    <h4><a href="{{ path('homepage') }}">return to the homepage</a></h4>
{% endblock %}