{% extends '@ShoppingCart/base.html.twig' %}

{% block body %}
    <h1>Sorry something went wrong :(</h1>
    <p>
        Please return to the <a href="{{ path('homepage') }}">homepage</a>.
    </p>
{% endblock %}