{% extends "@ShoppingCart/base.html.twig" %}

{% block body %}
    <h1>List of Banned Ips</h1>
    <div class="text-right">
        <a href="{{ path("admin_bannedips_add") }}" class="btn btn-success">Add new ip to the black list <i
                    class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
    </div>
    <hr>
    <table class="table table-responsive table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>ip</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for ip in bannedIps %}
            <tr>
                <td>{{ ip.id }}</td>
                <td>{{ ip.ip }}</td>
                <td>
                    <form action="{{ path("admin_bannedips_delete", {"id": ip.id}) }}" method="post">
                        <button class="btn btn-danger delete-item" type="submit"><i class="fa fa-trash-o"></i>
                            Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}