<hr>
<div class="navbar-text pull-left">
    <a href="https://softuni.bg/users/profile/show/petkoxray"><i class="fa fa-graduation-cap fa-2x"
                                                                 aria-hidden="true"></i></a>
    <a href="https://github.com/petkoxray/SymfonyShoppingCart"><i class="fa fa-github fa-2x"
                                                                  aria-hidden="true"></i>
    </a>
    <a href="http://facebook.com/petkoxray/"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
    </a>
</div>
<div class="navbar-text pull-right">
    <p>&copy; 2017 - ShoppingCart project for SoftUni PHP MVC Course </p>
</div>
