{% if app.session.flashbag.peekAll|length > 0 %}
    <div class="row">
        <div id="flash-message" class="col-md-12">
            {% for type, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="text-center alert alert-{{ type ? type : 'info' }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endif %}