{% extends "@ShoppingCart/base.html.twig" %}

{% block body %}
    <h1 class="text-center">Latest Products</h1>
    <hr>
    {% for product in products %}
        {% include "@ShoppingCart/_product_thumbnail.html.twig" %}
    {% endfor %}
{% endblock %}