{% extends "@ShoppingCart/base.html.twig" %}

{% block body %}
    {% for product in products %}
        <li class="list-group-item">
            <a href="{{ product.category.slug }}/{{ product.slug }}">{{ product.name }}</a>
        </li>
    {% endfor %}
{% endblock %}