{% extends "@ShoppingCart/base.html.twig" %}

{% block body %}
    <h1>All products in {{ category.name }}</h1>
    <hr>
    {% for product in products %}
        {% include "@ShoppingCart/products/_product_thumbnail.html.twig" %}
    {% endfor %}
{% endblock %}