{% extends "@ShoppingCart/base.html.twig" %}

{% block body %}
    {{ form_start(add_form) }}
    {{ form_row(add_form.category) }}
    {{ form_row(add_form.promotion) }}

    <button class="btn btn-success" formnovalidate>Add <i
                class="fa fa-plus-circle" aria-hidden="true"></i>
    </button>

    {{ form_end(add_form) }}
{% endblock %}