{% extends "@ShoppingCart/base.html.twig" %}

{% block body %}
    <div class="row">
    {% for index, product in products %}
        {% if index % 3 == 0 and index > 0 %}
            </div>
            <div class="row">
        {% endif %}
        {% include "@ShoppingCart/users/products/_product.html.twig" %}
    {% endfor %}
    </div>
    <div class="navigation text-center">
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}